body{
	background-color: #333;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	color:#AAA;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.25);
}
h1{
	font-size: 50px;
	text-align: center;
	margin-top: 100px;
	font-family: 'Open Sans', sans-serif;
	color: #AAA;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
p{
	font-family: 'Raleway', sans-serif;
}
table{
	width:100%;
	font-family: 'Open Sans', sans-serif;
}

#coins{
	position:absolute;
	width:480px;
	background-color: #555;
	border-radius: 20px 20px 20px;
	box-shadow: 4px 4px 20px rgba(0,0,0,1);
	order: 0;
	flex:none;
	justify-content: center;
	text-align: center;
}
#container{
	position: absolute;
	width:100%;
	height:50px;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
#addTip{
	top:20%;
	background-color:#456;
	position: absolute;
	transition: opacity 0.5s;
	opacity: 0;
	display:inline;
	padding:10px;
	border-radius: 20px 20px;
	vertical-align: middle;

}
#add{
	display: inline-block; 
	width:50px;
	height:50px;
	font-size: 45px;
	text-decoration: none;
	color:#AAA;
	border-radius: 50px 50px 50px;
	background-color: #456;
	box-shadow: 0px 0px 10px #000;
	margin:5px 5px 5px 5px;
	transition: box-shadow 0.5s;
}
#add:hover + #addTip{
	opacity: 1;
}#add:hover{
	box-shadow: 0px 0px 10px #ABC;
}

#coinSelect{
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	border-radius: 5px 5px 5px;
}
#coinAmount{
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	border-radius: 5px 5px 5px;
	width:150px;

}

#name{
	width:170px;
}
#addToList{
	display: inline-block; 
	width:25px;
	height:25px;
	font-size: 20px;
	text-decoration: none;
	color:#AAA;
	border-radius: 50px 50px 50px;
	background-color: #456;
	box-shadow: 0px 0px 10px #000;
	margin:5px 5px 5px 5px;
	transition: box-shadow 0.5s;
}